
body{
  margin: 0;
  font-family: sans-serif;
  background-color: #ccc;
}

div, body{
  box-sizing: border-box;
}

.flexbox {
  display: flex;
/*flex-direction: row;
  direction: ltr; (ltr)Left To Right y (rtl) Right To Left */
  /* flex-wrap: wrap; */
  flex-flow: row wrap;
  border: 2px solid #000;
  margin: 20px;
  justify-content: space-evenly;
  align-items: center;
  height: 360px;
  background-color: #fff;
  
}

.flex-item{
  background-color: #800;
  color: #fff;
  font-size: 40px;
  text-align: center;
  width: 100px;
  direction: rtl;
}

.flex-item:first-child{
  background-color: #f77;
  flex-grow: 1;
  
}

.flex-item:last-child{
  background-color: #000;
}

